<!-- https://material-components.github.io/material-components-web-catalog/#/component/text-field -->

	<!-- Filled -->
		<div class="mdc-text-field text-field">
			<input type="text" id="text-field-filled" class="mdc-text-field__input">
			<label class="mdc-floating-label" for="text-field-filled">Standard</label>
		</div>
		<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
		</div>

		<div class="mdc-text-field text-field mdc-text-field--with-leading-icon">
			<i class="material-icons mdc-text-field__icon">event</i>
			<input type="text" id="text-field-filled-leading" class="mdc-text-field__input">
			<label class="mdc-floating-label" for="text-field-filled-leading">Standard</label>
		</div>
		<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
		</div>

		<div class="mdc-text-field text-field mdc-text-field--with-trailing-icon">
			<input type="text" id="text-field-filled-trailing" class="mdc-text-field__input">
			<label class="mdc-floating-label" for="text-field-filled-trailing">Standard</label>
			<i class="material-icons mdc-text-field__icon">delete</i>
		</div>
		<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
		</div>

	<!-- Outlined -->
		<div class="mdc-text-field text-field mdc-text-field--outlined">
			<input type="text" id="text-field-outlined" class="mdc-text-field__input">
			<div class="mdc-notched-outline mdc-notched-outline--upgraded">
				<div class="mdc-notched-outline__leading"></div>
				<div class="mdc-notched-outline__notch" style="">
					<label class="mdc-floating-label" for="text-field-outlined" style="">Standard</label>
				</div>
				<div class="mdc-notched-outline__trailing"></div>
			</div>
		</div>
		<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
		</div>

		<div class="mdc-text-field text-field mdc-text-field--outlined mdc-text-field--with-leading-icon">
			<i class="material-icons mdc-text-field__icon">event</i>
			<input type="text" id="text-field-outlined-leading" class="mdc-text-field__input">
			<div class="mdc-notched-outline mdc-notched-outline--upgraded">
				<div class="mdc-notched-outline__leading"></div>
				<div class="mdc-notched-outline__notch">
					<label class="mdc-floating-label" for="text-field-outlined-leading" style="">Standard</label>
				</div>
				<div class="mdc-notched-outline__trailing"></div>
			</div>
		</div>
		<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
		</div>

		<div class="mdc-text-field text-field mdc-text-field--outlined mdc-text-field--with-trailing-icon">
			<input type="text" id="text-field-outlined-trailing" class="mdc-text-field__input">
			<i class="material-icons mdc-text-field__icon">delete</i>
			<div class="mdc-notched-outline mdc-notched-outline--upgraded">
				<div class="mdc-notched-outline__leading"></div>
				<div class="mdc-notched-outline__notch">
					<label class="mdc-floating-label" for="text-field-outlined-trailing" style="">Standard</label>
				</div>
				<div class="mdc-notched-outline__trailing"></div>
			</div>
		</div>
		<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
		</div>

	<!-- Text Field without label -->
		<div class="mdc-text-field text-field mdc-text-field--no-label">
			<input type="text" id="text-field-filled" class="mdc-text-field__input" aria-label="Text field aria label">
		</div>
		<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
		</div>

		<div class="mdc-text-field text-field mdc-text-field--outlined mdc-text-field--no-label">
			<input type="text" id="text-field-outlined" class="mdc-text-field__input" aria-label="Text field aria label">
			<div class="mdc-notched-outline mdc-notched-outline--no-label">
				<div class="mdc-notched-outline__leading"></div>
				<div class="mdc-notched-outline__trailing"></div>
			</div>
		</div>
		<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
		</div>

		<div class="mdc-text-field text-field demo-text-field-outlined-shaped mdc-text-field--outlined mdc-text-field--no-label">
			<input type="text" id="text-field-outlined" class="mdc-text-field__input" aria-label="Text field aria label">
			<div class="mdc-notched-outline mdc-notched-outline--no-label">
				<div class="mdc-notched-outline__leading"></div>
				<div class="mdc-notched-outline__trailing"></div>
			</div>
		</div>
		<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
		</div>

	<!-- Text Field with Character Counter -->
		<div class="mdc-text-field text-field">
			<input type="text" id="text-field-filled" class="mdc-text-field__input" maxlength="18">
			<label class="mdc-floating-label" for="text-field-filled">Standard</label>
		</div>
		<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
			<div class="mdc-text-field-character-counter">0 / 18</div>
		</div>

		<div class="mdc-text-field text-field mdc-text-field--outlined">
			<input type="text" id="text-field-outlined" class="mdc-text-field__input" maxlength="18">
			<div class="mdc-notched-outline mdc-notched-outline--upgraded">
				<div class="mdc-notched-outline__leading"></div>
				<div class="mdc-notched-outline__notch">
					<label class="mdc-floating-label" for="text-field-outlined" style="">Standard</label>
				</div>
				<div class="mdc-notched-outline__trailing"></div>
			</div>
		</div>
		<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
			<div class="mdc-text-field-character-counter">0 / 18</div>
		</div>

		<div class="mdc-text-field text-field demo-text-field-outlined-shaped mdc-text-field--outlined">
			<input type="text" id="text-field-outlined" class="mdc-text-field__input" maxlength="18">
			<div class="mdc-notched-outline mdc-notched-outline--upgraded">
				<div class="mdc-notched-outline__leading"></div>
				<div class="mdc-notched-outline__notch">
					<label class="mdc-floating-label" for="text-field-outlined" style="">Standard</label>
				</div>
				<div class="mdc-notched-outline__trailing"></div>
			</div>
		</div>
		<div class="mdc-text-field-helper-line">
			<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
			<div class="mdc-text-field-character-counter">0 / 18</div>
		</div>

	<!-- Textarea -->
		<div class="text-field-container">
			<div class="mdc-text-field text-field mdc-text-field--textarea">
				<textarea id="textarea" class="mdc-text-field__input"></textarea>
				<div class="mdc-notched-outline mdc-notched-outline--upgraded">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label class="mdc-floating-label" for="textarea" style="">Standard</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
		</div>

	<!-- Textarea with Character Counter -->
		<div class="text-field-container">
			<div class="mdc-text-field text-field mdc-text-field--textarea">
				<div class="mdc-text-field-character-counter">
					0 / 18
				</div>
				<textarea id="textarea" class="mdc-text-field__input" maxlength="18"></textarea>
				<div class="mdc-notched-outline mdc-notched-outline--upgraded">
					<div class="mdc-notched-outline__leading"></div>
					<div class="mdc-notched-outline__notch">
						<label class="mdc-floating-label" for="textarea" style="">Standard</label>
					</div>
					<div class="mdc-notched-outline__trailing"></div>
				</div>
			</div>
			<div class="mdc-text-field-helper-line">
				<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
			</div>
		</div>

	<!-- Full Width -->
		<div class="text-field-row text-field-row-fullwidth">
			<div class="text-field-container">
				<div class="mdc-text-field text-field mdc-text-field--fullwidth mdc-text-field--no-label">
					<input type="text" id="text-field-fullwidth-helper" placeholder="Standard" class="mdc-text-field__input">
				</div>
				<div class="mdc-text-field-helper-line">
					<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text</p>
				</div>
			</div>
		</div>

	<!-- Full Width Textarea -->
		<div class="text-field-row text-field-row-fullwidth">
			<div class="text-field-container">
				<div class="mdc-text-field text-field mdc-text-field--fullwidth mdc-text-field--no-label mdc-text-field--textarea">
					<textarea id="text-field-fullwidth-textarea-helper" class="mdc-text-field__input"></textarea>
					<div class="mdc-notched-outline mdc-notched-outline--upgraded">
						<div class="mdc-notched-outline__leading"></div>
						<div class="mdc-notched-outline__notch">
							<label class="mdc-floating-label" for="text-field-fullwidth-textarea-helper" style="">Standard</label>
						</div>
						<div class="mdc-notched-outline__trailing"></div>
					</div>
				</div>
				<div class="mdc-text-field-helper-line">
					<p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" id="pw-validation-msg">Helper Text
					</p>
				</div>
			</div>
		</div>