<!-- https://material-components.github.io/material-components-web-catalog/#/component/select -->

<!-- Filled -->
	<div class="mdc-select">
		<i class="mdc-select__dropdown-icon" aria-hidden="true"></i>
		<select id="filled" class="mdc-select__native-control">
			<option value="" disabled=""></option>
			<option value="apple">Apple</option>
			<option value="orange">Orange</option>
			<option value="Banana">banana</option>
		</select>
		<label for="filled" class="mdc-floating-label mdc-floating-label--float-above">Fruit</label>
		<div class="mdc-line-ripple"></div>
	</div>

<!-- Outlined -->
	<div class="mdc-select mdc-select--outlined">
		<i class="mdc-select__dropdown-icon" aria-hidden="true"></i>
		<select id="outlined" class="mdc-select__native-control">
			<option value="" disabled=""></option>
			<option value="apple">Apple</option>
			<option value="orange">Orange</option>
			<option value="Banana">banana</option>
		</select>
		<div class="mdc-notched-outline mdc-notched-outline--upgraded mdc-notched-outline--notched">
			<div class="mdc-notched-outline__leading"></div>
			<div class="mdc-notched-outline__notch">
				<label for="outlined" class="mdc-floating-label mdc-floating-label--float-above" style="">Fruit</label>
			</div>
			<div class="mdc-notched-outline__trailing"></div>
		</div>
	</div>