<!-- https://material-components.github.io/material-components-web-catalog/#/component/button -->

<!-- Text Button -->
	<!-- Default -->
		<button class="mdc-button">
			<span class="mdc-button__label">Default</span>
		</button>

	<!-- Dense -->
		<button class="mdc-button mdc-button--dense">
			<span class="mdc-button__label">Dense</span>
		</button>

	<!-- With Icon -->
		<button class="mdc-button">
			<i class="material-icons mdc-button__icon">favorite</i>
			<span class="mdc-button__label">Icon</span>
		</button>

<!-- Raised Button -->
	<!-- Default -->
		<button class="mdc-button mdc-button--raised">
			<span class="mdc-button__label">Default</span>
		</button>

	<!-- Dense -->
		<button class="mdc-button mdc-button--dense mdc-button--raised">
			<span class="mdc-button__label">Dense</span>
		</button>

	<!-- With Icon -->
		<button class="mdc-button mdc-button--raised">
			<i class="material-icons mdc-button__icon">favorite</i>
			<span class="mdc-button__label">Icon</span>
		</button>

<!-- Unelevated Button -->
	<!-- Default -->
		<button class="mdc-button mdc-button--unelevated">
			<span class="mdc-button__label">Default</span>
		</button>

	<!-- Dense -->
		<button class="mdc-button mdc-button--dense mdc-button--unelevated">
			<span class="mdc-button__label">Dense</span>
		</button>

	<!-- With Icon -->
		<button class="mdc-button mdc-button--unelevated">
			<i class="material-icons mdc-button__icon">favorite</i>
			<span class="mdc-button__label">Icon</span>
		</button>

<!-- Outlined Button -->
	<!-- Default -->
		<button class="mdc-button mdc-button--outlined">
			<span class="mdc-button__label">Default</span>
		</button>

	<!-- Dense -->
		<button class="mdc-button mdc-button--dense mdc-button--outlined">
			<span class="mdc-button__label">Dense</span>
		</button>

	<!-- With Icon -->
		<button class="mdc-button mdc-button--outlined">
			<i class="material-icons mdc-button__icon">favorite</i>
			<span class="mdc-button__label">Icon</span>
		</button>