/* Material Spinner */
	.mdc-spinner
	{
		backface-visibility: hidden;
		opacity: 0;
		transform: translate(-50%,-50%);
		transition: opacity .25s ease;

		margin: 0 auto;
		position: fixed;
		 top: 50%;
		 left: 50%;
		 z-index: 100;

		width: 64px;

		pointer-events: none;
	}
	
	.mdc-spinner:before
	{
		display: block;
		padding-top: 100%;

		content: "";
	}

	.mdc-spinner .mdc-spinner__shape
	{
		animation: mdc-spinner__shape 2s linear infinite;
		transform-origin: center center;

		margin: auto;
		position: absolute;
		 top: 0;
		 bottom: 0;
		 left: 0;
		 right: 0;

		height: 100%;
		width: 100%;
	}

	.mdc-spinner .mdc-spinner__path
	{
		animation: mdc-spinner__path 1.5s ease-in-out infinite;

		stroke: var(_brand-color);
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
		stroke-linecap: round;
		stroke-miterlimit: 10;
		stroke-width: 2;
	}

	@keyframes mdc-spinner__shape
	{
		100%
		{
			transform: rotate(360deg);
		}
	}

	@keyframes mdc-spinner__path
	{
		0%
		{
			stroke-dasharray: 1, 200;
			stroke-dashoffset: 0;
		}

		50%
		{
			stroke-dasharray: 89, 200;
			stroke-dashoffset: -35px;
		}

		100%
		{
			stroke-dasharray: 89, 200;
			stroke-dashoffset: -124px;
		}
	}

	.mdc-spinner.mdc-spinner--visible
	{
		opacity: 1;
	}