<!-- Baseline -->
	<div class="mdc-snackbar">
		<div class="mdc-snackbar__surface">
			<div class="mdc-snackbar__label" role="status" aria-live="polite">Snackbar message.</div>

			<div class="mdc-snackbar__actions">
				<button type="button" class="mdc-button mdc-button--unelevated mdc-snackbar__action">OK</button>
				<button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss" aria-hidden="true">close</button>
			</div>
		</div>
	</div>

<!-- Leading -->
	<div class="mdc-snackbar mdc-snackbar--leading">
		<div class="mdc-snackbar__surface">
			<div class="mdc-snackbar__label" role="status" aria-live="polite">Snackbar message.</div>

			<div class="mdc-snackbar__actions">
				<button type="button" class="mdc-button mdc-button--unelevated mdc-snackbar__action">Sure</button>
				<button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss" aria-hidden="true">close</button>
			</div>
		</div>
	</div>

<!-- Stacked -->
	<div class="mdc-snackbar mdc-snackbar--stacked">
		<div class="mdc-snackbar__surface">
			<div class="mdc-snackbar__label" role="status" aria-live="polite">Snackbar message.</div>

			<div class="mdc-snackbar__actions">
				<button type="button" class="mdc-button mdc-button--unelevated mdc-snackbar__action">Whatever</button>
				<button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss" aria-hidden="true">close</button>
			</div>
		</div>
	</div>