<!-- Standard Floating Action Button -->
	<button class="mdc-fab" aria-label="Favorite">
		<i class="mdc-fab__icon material-icons" aria-hidden="true">favorite_border</i>
	</button>

<!-- Mini Floating Action Button -->
	<button class="mdc-fab mdc-fab--mini" aria-label="Favorite">
		<i class="mdc-fab__icon material-icons" aria-hidden="true">favorite_border</i>
	</button>

<!-- Extended FAB -->
	<button class="mdc-fab mdc-fab--extended" aria-label="Create">
		<i class="mdc-fab__icon material-icons" aria-hidden="true">add</i>

		<span class="mdc-fab__label">Create</span>
	</button>

<!-- Extended FAB (Text label followed by icon) -->
	<button class="mdc-fab mdc-fab--extended" aria-label="Create">
		<span class="mdc-fab__label">Create</span>

		<i class="mdc-fab__icon material-icons" aria-hidden="true">add</i>
	</button>

<!-- Extended FAB (without Icon) -->
	<button class="mdc-fab mdc-fab--extended" aria-label="Create">
		<span class="mdc-fab__label">Create</span>
	</button>